@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url("header.css");
@import url("portfolio.css");
@import url("lecture_body.css");

/*The main template for the whole website
   @font-family from Google fonts that utilize
   monospace design which helps with sample code
   and helps with programming aesthetic
   @background-color is just my favorite color
   @color was something to contrast with background
   @margin was placed because the header misbehaves
   and doesn't go all the way across
   */
body {
   font-family: "Montserrat", sans-serif, Arial;
   background-color: #BBF2E2;
   color: #012326;
   margin: 0%;
}

/*For Intro_to_C++ page, centers and changes main title
   @font-family changes characters to fancy one
   @text-align centers title
   @color change titles color to red
   @font-size increases it by a lot*/
div.outline2 h2 {
   font-family: "Major Mono Display", sans-serif, Arial;
   text-align: center;
   color: #F25C5C;
   font-size: 400%;
}

/*
   allows for list to have same height & spacing as paragraphs.
   had to be specific since this will also affect the header's
   list.
   @font-size is similar to p's
   @line-height is same as p's
   @word-spacing is same as p's
*/
div.non_header_marker li{
   font-size: 115%;
   line-height: 1.75em;
   word-spacing: .10em;
 }


h3, h4 {
   margin-left: .5%;
   margin-right: .5%;
}

/*The general layout for text
  @font-size must increase readability
  @margin-left set to 1% since body's margin set to 0%
  @margin-right set to 1% since body's margin set to 0%
  @line-height set to 1.75 to increase readability, note,
   word space should never be bigger than line height
  @word-spacing is there to help increase readability
  @overflow is so the pictures don't flow out of the
   container
*/
p {
   font-size: 115%;
   min-width: 25%;
   margin: .5%;
   line-height: 1.75em;
   word-spacing: .10em;
   overflow: hidden;
}

/*A unique paragraph layout used for the Home page
  @font-weight is bold to increase readability
  @margin-left helps center the paragraph
  @margin-right helps center the paragraph
  @padding is set to 1 to space the paragraph from boarder
  @border set's it to be a blue box
  @border-radius rounds the curves to 10px
  @width makes paragraph appear to be floating center
   without taking too much space*/
p.intro {
   font-weight: bold;
   margin-left: auto;
   margin-right: auto;
   padding: 1%;
   border: medium solid #012326;
   border-radius: 10px;
   width: 75%;
}

a:link, a:visited {
   text-decoration: none;
   color: #012326;
}

div.table_of_content :is(a:link, a:visited) {
   text-decoration: none;
   color: #F25C5C;
}

a:hover {
   color: #F25C5C;
}

div.table_of_content a:hover {
   color: #F25C5C;
   border-bottom: 2px solid #F25C5C;
}

img.align_left{
   float: left;
   margin-right: 3%;
}

img.align_right {
   float: right;
   margin-left: 3%;
}

img.large{
   max-width: 75%;
   height: auto;
}

img.medium {
   width:50%;
   max-height: auto;
}

img.small {
   max-width: 25%;
   height: auto;
}
