@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url("header.css");

body {
   font-family: "Montserrat", sans-serif, Arial;
   background-color: #BBF2E2;
   color: #012326;
   margin: 0%;
}

body.version2 {
   font-family: "Montserrat", sans-serif, Arial;
   background-color: #012326;
   color: #BBF2E2;
   margin: 0%;
}

div.outline1 h1 {
   text-align: center;
}

div.outline2 h1 {
   font-family: "Major Mono Display", sans-serif, Arial;
   text-align: center;
   color: #F25C5C;
   font-size: 400%;
}

h2 {
   border-bottom: 3px solid #012326;
}

h2, h3 {
   padding-left: 1%;
}

p {
   padding-left: 2%;
   padding-right: 1%;
}

p.intro {
   font-weight: bold;
   margin-left: auto;
   margin-right: auto;
   padding: 1%;
   border: medium solid #012326;
   border-radius: 10px;
   width: 75%;
}

code {
   font-family: "Ubuntu Mono", "Major Mono Display", sans-serif;
   display: block;
   background-color: #F25C5C;
   color: #012326;
   font-size: 125%;
   border-radius: 5px;
   padding: 1%;
}

ul.contact_info {
   text-align: center;
}

ul.contact_info li {
   display: inline;
   padding-right: 2%;
}

div.table_of_content {
   text-align: center;
   list-style-position: inside;
   font-size: 200%;
}

a:link, a:visited {
   text-decoration: none;
   color: #012326;
}

div.table_of_content :is(a:link, a:visited) {
   text-decoration: none;
   color: #F25C5C;
}

a:hover {
   color: #F25C5C;
}

div.table_of_content a:hover {
   color: #F25C5C;
   border-bottom: 2px solid #F25C5C;
}
