@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&display=swap");
@import url("header.css");
@import url("portfolio.css");
@import url("documentation.css");

body {
   font-family: "Montserrat", sans-serif, Arial;
   background-color: #BBF2E2;
   color: #012326;
   margin: 0%;
}

body.version2 {
   font-family: "Montserrat", sans-serif, Arial;
   background-color: #BBF2E2;
   color: #012326;
   margin: 0%;
}

h2 {
   
   border-bottom: 3px solid #012326;
}
h2, h3 {
   padding-left: 1%;
}

p {
   padding-left: 2%;
   padding-right: 1%;
}

p.intro {
   font-weight: bold;
   margin-left: auto;
   margin-right: auto;
   padding: 1%;
   border: medium solid #012326;
   border-radius: 10px;
   width: 75%;
}

a:link {
   text-decoration: none;
   color: #012326;
}

a:hover {
   color: #F25C5C;
}

a:visited {
   color: #012326;
}
