header {
   font-family: "Major Mono Display", sans-serif, Arial;
   /*Why does it work when I make it relative here, but not in the div???*/
   position: relative;
}

header div {
   background-color: #012326;
   color: #F25C5C;
   overflow: auto;
   padding-top: 1%;
   width: 100%;
}

header h1 {
   float: left;
   position: absolute;
   left: 2%;
   bottom: 4%;
   font-size: 200%;
}

header img {
   display: block;
   float: right;
   position: relative;
   right: 1%;
}

header ul {
   background-color: #F2E96B;
   margin: 0%;
   font-size: 150%;
}

header ul.v2 {
   background-color: #012326;
   border-top:2px solid #F2E96B;
   border-bottom: 2px solid #F2E96B;
   margin: 0%;
   font-size: 150%;
}

header li {
   display: inline;
   position: relative;
   left: 5%;
}

header a:link {
   text-decoration: none;
   color: #012326;
}

ul.v2 a:link {
   text-decoration: none;
   color: #F2E96B;
}

header a:hover {
   text-decoration: none;
   background-color: #F25C5C;
   color: #012326;
}

ul.v2 a:hover {
   text-decoration: none;
   background-color: #012326;
   /* So apparently it's a specificity issue, but I don't know how.*/
   color: #BBF2E2 !important;
}

header :is(a:active, a:visited){
   text-decoration: none;
   color: #012326;
}

ul.v2 :is(a:active, a:visited) {
   text-decoration: none;
   color: #F2E96B;
}