/*Special header that centers tiles
  @text-align centers name*/
div.center {
    text-align: center;
 }

 /*Special header that underline the word for h2 used in portfolio
   @border-bottom sets the thickness type and color
   @padding-left shifts title a little to the right so it doesn't
    touch left screen
*/
.title_underline h2{
    border-bottom: 3px solid #012326;
    padding-left: .5%;
 }
 
/*
Turns list from block to inline to get rid of automatic dot notes thingy
   @display gets rid of dot notes
   @padding-right makes sure give space between link images
*/
ul.contact_info li {
    display: inline;
    padding-right: 2%;
 }

 