.default_scheme {
	background-color: #FFFFF0;
	color: #5E4D46;
	font-family: "Source Code Pro", monospace;
	margin: 0;
}

.header {
	text-align: center;
	padding-top: 50px;
}

h1.header { 
	border-bottom-style: double;
	border-color: #344E41;
	border-width: thick;
	font-size: 60px;
	display: inline;
}

.nav_bar {
	background-color: #588157;
	padding: 10px;
}

.nav_bar a {
	text-align: center;
	text-decoration: none;
	padding: 10px 20px;
	color: #2E7C9B;
}

