.default_scheme {
	background-color: #CC7F36 /*84A98C*/;
	color: #2F3E46;
	font-family: "Source Code Pro", monospace;
	margin: 0;
}

.header {
	text-align: center;
	margin-top: 50px;
}

.header h1{ 
	border-bottom-style: double;
	border-color: #CAD2C5;
	border-width: 10px;
	font-size: 60px;
	display: inline;
}

.nav_bar {
	margin: 25px;
	text-align: center;
}

.nav_bar a {
	text-decoration: none;
	border-bottom-style: solid;
	border-width: 3px;
	border-color: #CAD2C5;
	padding: 10px 20px;
	color: #2F3E46;
}

.nav_bar a:hover {
	text-decoration: none;
	background-color: #CAD2C5;
}

.body {
	background-color: #CAD2C5;
	margin: 0px 5px 10px;
	padding: 5px 20px;
	border-radius: 50px;
}

.body p {
	text-indent: 25px;
}
