body {
	background-color: #6192B8 /*3374B1*/ /*004974*/;
	color: #2F3E46;
}
/*
h1 {
	color: #CAD2C5;
}
*/
a {
	color: #2F3E46 /*CAD2C5*/;
}
/*
a:hover {
	color: #000000;
}*/

.special_content {
	background-color: #CAD2C5;
	margin: auto;
	width: 20%;
	padding: 5px 20px;
	border-radius: 50px;
}
